@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,700,800&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

::-ms-reveal {
  display: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.ibg {
  position: relative;
}

.ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body {
  font-family: "Montserrat";
  font-size: 0.875rem;
  color: #252b42;
  background-color: #fafafa;
}

body._lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 66.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.text {
  font-weight: 500;
  line-height: 1.4;
  color: #737373;
}

.title {
  font-weight: 800;
  font-size: 3.625rem;
  line-height: 1.38;
  max-width: 31.875rem;
}

.title_s40 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.4;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__wrapper {
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  padding: 0.3125rem 0;
}

.header__wrapper._scroll {
  background-color: rgba(255, 255, 255, 0.9647058824);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8.25rem;
     -moz-column-gap: 8.25rem;
          column-gap: 8.25rem;
  min-height: 5.875rem;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.header__container._scroll {
  min-height: 4.375rem;
}

.header__logo {
  color: #252b42;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.menu__link {
  font-weight: 600;
  line-height: 1.7;
  color: #737373;
}

.main {
  height: 100vh;
  min-height: 38.75rem;
}

.main__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 38.75rem;
  opacity: 0;
  -webkit-transition: 0.8s ease 0.8s;
  -o-transition: 0.8s ease 0.8s;
  transition: 0.8s ease 0.8s;
}

.main__bg._anim {
  opacity: 1;
}

.main__container {
  position: relative;
  z-index: 1;
  padding-top: 11.5rem;
  opacity: 0;
  -webkit-transition: 0.8s ease 2.4s;
  -o-transition: 0.8s ease 2.4s;
  transition: 0.8s ease 2.4s;
}

.main__container._anim {
  opacity: 1;
}

.main__title:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.main__text {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #737373;
  max-width: 23.75rem;
}

.main__text:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.main__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.main__button-orange {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 2;
  color: #ffffff;
  background-color: #ff7b47;
  border-radius: 50pc;
  padding: 0.625rem 2.25rem;
  min-height: 3rem;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.main__button-border {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 2;
  color: #0d5c63;
  background-color: transparent;
  border-radius: 50pc;
  padding: 0.5rem 2.125rem;
  min-height: 3rem;
  border: 0.0625rem solid #0d5c63;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.cards {
  position: relative;
  z-index: 1;
  margin-top: -6.9375rem;
}

.cards__container {
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  opacity: 0;
  -webkit-transition: 0.5s ease 3.2s;
  -o-transition: 0.5s ease 3.2s;
  transition: 0.5s ease 3.2s;
  -webkit-transform: translate(0, 20%);
      -ms-transform: translate(0, 20%);
          transform: translate(0, 20%);
}

.cards__container._anim {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.cards__card {
  padding: 2.1875rem 2.5rem;
  background-color: #fff;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.card-cards__icon svg path {
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.card-cards__icon:not(:last-child) {
  margin-bottom: 0.625rem;
}

.card-cards__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.card-cards__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.card-cards__text {
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.achivments {
  padding-top: 5rem;
}

.achivments__title {
  text-align: center;
  -webkit-transition: 0.5s ease 0.6s;
  -o-transition: 0.5s ease 0.6s;
  transition: 0.5s ease 0.6s;
  opacity: 0;
  -webkit-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
          transform: translate(0, 120%);
}

.achivments__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.achivments__title._anim {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.achivments__text {
  text-align: center;
  font-weight: 500;
  max-width: 31.875rem;
  margin: 0 auto;
  margin-bottom: 3.125rem;
}

.achivments__text p {
  -webkit-transition: 0.5s ease 0.6s;
  -o-transition: 0.5s ease 0.6s;
  transition: 0.5s ease 0.6s;
  opacity: 0;
  -webkit-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
          transform: translate(0, 120%);
}

.achivments__text p._anim {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.achivments__body {
  display: -ms-grid;
  display: grid;
  gap: 2.375rem;
  grid-template-columns: repeat(auto-fit, minmax(14.375rem, 1fr));
}

.achivments__item {
  padding: 1.875rem;
  background-color: #fff;
  text-align: center;
  -webkit-transition: 0.5s ease 0.6s;
  -o-transition: 0.5s ease 0.6s;
  transition: 0.5s ease 0.6s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.achivments__item._anim {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.item-achivments__icon:not(:last-child) {
  margin-bottom: 0.625rem;
}

.item-achivments__value {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.4;
}

.item-achivments__value:not(:last-child) {
  margin-bottom: 0.625rem;
}

.item-achivments__text {
  font-size: 1rem;
  font-weight: 700;
  color: #737373;
}

.practice {
  padding-top: 12.5rem;
  padding-bottom: 5rem;
}

.practice__title {
  text-align: center;
  margin-bottom: 0.625rem;
  -webkit-transition: 0.5s ease 0.6s;
  -o-transition: 0.5s ease 0.6s;
  transition: 0.5s ease 0.6s;
  opacity: 0;
  -webkit-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
          transform: translate(0, 120%);
}

.practice__title._anim {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.practice__text {
  text-align: center;
  max-width: 29.375rem;
  margin: 0 auto;
  font-weight: 500;
  margin-bottom: 3.125rem;
  -webkit-transition: 0.5s ease 0.6s;
  -o-transition: 0.5s ease 0.6s;
  transition: 0.5s ease 0.6s;
  opacity: 0;
  -webkit-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
          transform: translate(0, 120%);
}

.practice__text._anim {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.practice__cards {
  display: -ms-grid;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(14.375rem, 1fr));
}

.practice__card {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
  opacity: 0;
}

.practice__card:nth-child(1) {
  -webkit-transition: 0.5s ease 0.6s;
  -o-transition: 0.5s ease 0.6s;
  transition: 0.5s ease 0.6s;
}

.practice__card:nth-child(2) {
  -webkit-transition: 0.5s ease 0.8s;
  -o-transition: 0.5s ease 0.8s;
  transition: 0.5s ease 0.8s;
}

.practice__card:nth-child(3) {
  -webkit-transition: 0.5s ease 1s;
  -o-transition: 0.5s ease 1s;
  transition: 0.5s ease 1s;
}

.practice__card:nth-child(4) {
  -webkit-transition: 0.5s ease 1.2s;
  -o-transition: 0.5s ease 1.2s;
  transition: 0.5s ease 1.2s;
}

.practice__card._anim {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.card-practice__content {
  padding: 1.875rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.card-practice__title {
  display: inline-block;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.4;
  color: #252b42;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.card-practice__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.card-practice__image {
  padding-bottom: 60%;
  overflow: hidden;
}

.card-practice__image img {
  -webkit-transition: 0.4s ease 0s;
  -o-transition: 0.4s ease 0s;
  transition: 0.4s ease 0s;
}

.we {
  padding-top: 6.25rem;
  padding-bottom: 8.75rem;
  background-color: #fff;
}

.we__title {
  text-align: center;
  -webkit-transition: 0.5s ease 0.6s;
  -o-transition: 0.5s ease 0.6s;
  transition: 0.5s ease 0.6s;
  opacity: 0;
  -webkit-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
          transform: translate(0, 120%);
}

.we__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.we__title._anim {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.we__text {
  text-align: center;
  max-width: 31.875rem;
  margin: 0 auto;
  -webkit-transition: 0.5s ease 0.6s;
  -o-transition: 0.5s ease 0.6s;
  transition: 0.5s ease 0.6s;
  opacity: 0;
  -webkit-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
          transform: translate(0, 120%);
}

.we__text:not(:last-child) {
  margin-bottom: 3.125rem;
}

.we__text._anim {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.we__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-column-gap: 7.5rem;
     -moz-column-gap: 7.5rem;
          column-gap: 7.5rem;
  row-gap: 3.125rem;
}

.we__vid {
  cursor: pointer;
  position: relative;
  display: inline-block;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s ease 1.2s;
  -o-transition: 0.5s ease 1.2s;
  transition: 0.5s ease 1.2s;
}

.we__vid img {
  width: 100%;
}

.we__vid::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(14.58%, rgba(0, 0, 0, 0)), to(rgba(56, 56, 56, 0.84)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);
}

.we__vid._anim {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.we__content {
  max-width: 20.8125rem;
  opacity: 0;
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
  -webkit-transition: 0.5s ease 0.6s;
  -o-transition: 0.5s ease 0.6s;
  transition: 0.5s ease 0.6s;
}

.we__content._anim {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.vid-we__play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #0d5c63;
  padding: 2.1875rem 2.3125rem;
  border-radius: 50%;
  z-index: 1;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.content-we__title {
  margin-top: 1.25rem;
}

.content-we__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.content-we__text:not(:last-child) {
  margin-bottom: 3.125rem;
}

.content-we__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.content-we__item:not(:last-child) {
  margin-bottom: 1.875rem;
}

.item-content-we__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
}

.item-content-we__title:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.item-content-we__text {
  font-weight: 600;
}

.partners {
  padding-top: 3.125rem;
}

.partners__container {
  opacity: 0;
  -webkit-transform: translate(-20%, 0);
      -ms-transform: translate(-20%, 0);
          transform: translate(-20%, 0);
  -webkit-transition: 0.5s ease 0.6s;
  -o-transition: 0.5s ease 0.6s;
  transition: 0.5s ease 0.6s;
}

.partners__container._anim {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.partners__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners__item img {
  max-width: 100%;
}

.subscribe {
  position: relative;
  padding-top: 5.625rem;
}

.subscribe__container {
  position: relative;
  z-index: 1;
  border-radius: 0.125rem;
  background-color: #17213c;
  max-width: 61.625rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 1.25rem;
  -ms-grid-columns: 16.625rem 50%;
  grid-template-columns: 16.625rem 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.875rem 2.5rem;
  opacity: 0;
  -webkit-transition: 0.5s ease 0.8s;
  -o-transition: 0.5s ease 0.8s;
  transition: 0.5s ease 0.8s;
}

.subscribe__container._anim {
  opacity: 1;
}

.subscribe__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3;
  color: #ffffff;
}

.form-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-subscribe__body {
  width: 100%;
}

.form-subscribe__control {
  position: relative;
}

.form-subscribe__control .error {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(0, 140%);
      -ms-transform: translate(0, 140%);
          transform: translate(0, 140%);
  color: #fff;
  font-size: 0.75rem;
}

.form-subscribe__email {
  width: 100%;
  line-height: 2;
  padding: 0.9375rem 1.25rem;
  background-color: #f9f9f9;
  border: 0.0625rem solid #e6e6e6;
  border-radius: 0.3125rem 0 0 0.3125rem;
  min-height: 3.625rem;
}

.form-subscribe__submit {
  line-height: 2;
  background-color: #ff7b47;
  border: 0.0625rem solid #e6e6e6;
  border-left: 0;
  border-radius: 0 0.3125rem 0.3125rem 0;
  color: #fff;
  padding: 0.875rem 1.40625rem;
  min-height: 3.625rem;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.getintouch {
  padding-top: 5rem;
}

.getintouch__container {
  max-width: 61.5625rem;
}

.getintouch__title {
  text-align: center;
  -webkit-transition: 0.5s ease 0.6s;
  -o-transition: 0.5s ease 0.6s;
  transition: 0.5s ease 0.6s;
  opacity: 0;
  -webkit-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
          transform: translate(0, 120%);
}

.getintouch__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.getintouch__title._anim {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.getintouch__text {
  text-align: center;
  font-weight: 500;
  max-width: 29.375rem;
  margin: 0 auto;
  -webkit-transition: 0.5s ease 0.6s;
  -o-transition: 0.5s ease 0.6s;
  transition: 0.5s ease 0.6s;
  opacity: 0;
  -webkit-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
          transform: translate(0, 120%);
}

.getintouch__text:not(:last-child) {
  margin-bottom: 5rem;
}

.getintouch__text._anim {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.getintouch__items {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  opacity: 0;
  -webkit-transform: translate(0, 50%) scale(0.5);
      -ms-transform: translate(0, 50%) scale(0.5);
          transform: translate(0, 50%) scale(0.5);
  -webkit-transition: 0.5s ease 0.6s;
  -o-transition: 0.5s ease 0.6s;
  transition: 0.5s ease 0.6s;
}

.getintouch__items._anim {
  opacity: 1;
  -webkit-transform: translate(0, 0) scale(1);
      -ms-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
}

.getintouch__item {
  text-align: center;
  padding: 3.125rem 2.5rem;
  background-color: #fff;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.item-getintouch__icon:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-getintouch__icon svg {
  max-width: 100%;
}

.item-getintouch__icon svg path {
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.item-getintouch__info-block:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-getintouch__info {
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  font-weight: 600;
  line-height: 1.7;
}

.item-getintouch__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.item-getintouch__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-getintouch__button {
  display: inline-block;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.7;
  color: #ff7b47;
  padding: 0.625rem 1.25rem;
  border: 0.0625rem solid #ff7b47;
  border-radius: 0.3125rem;
  min-height: 2.75rem;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.contacts-us {
  margin-top: 9.375rem;
  padding: 2.5rem 0;
  background-color: #fff;
  -webkit-transition: 0.5s ease 0.6s;
  -o-transition: 0.5s ease 0.6s;
  transition: 0.5s ease 0.6s;
  opacity: 0;
  -webkit-transform: translate(0, 40%);
      -ms-transform: translate(0, 40%);
          transform: translate(0, 40%);
}

.contacts-us._anim {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.contacts-us__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
}

.contacts-us__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3;
}

.contacts-us__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.contacts-us__text {
  font-weight: 500;
}

.contacts-us__button {
  display: inline-block;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 2;
  color: #ffffff;
  padding: 0.9375rem 2.5rem;
  background-color: #ff7b47;
  border-radius: 0.3125rem;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.footer {
  -webkit-transition: 0.5s ease 0.6s;
  -o-transition: 0.5s ease 0.6s;
  transition: 0.5s ease 0.6s;
  opacity: 0;
}

.footer._anim {
  opacity: 1;
}

.footer__body {
  background-color: #252b42;
  padding: 3.125rem 0;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 1.875rem;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 20.125rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 20.125rem;
}

.footer__container_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__label {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  color: #ffffff;
}

.footer__label:not(:last-child) {
  margin-bottom: 1.25rem;
}

.footer__bottom {
  padding: 1.5625rem 0;
}

.menu-footer__item:not(:last-child) {
  margin-bottom: 0.625rem;
}

.menu-footer__link {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.7;
  color: #ffffff;
}

.contacts-footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 0.625rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-footer__item {
  position: relative;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.7;
  color: #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2.125rem;
  min-height: 1.875rem;
}

.contacts-footer__item::before {
  height: none;
}

.contacts-footer__item_phone {
  background: url("../img/footer/phone.svg") left no-repeat;
}

.contacts-footer__item_location {
  background: url("../img/footer/location.svg") left no-repeat;
}

.contacts-footer__item_mail {
  background: url("../img/footer/mail.svg") left no-repeat;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

@media (min-width: 38.74875em) and (max-height: 45em) {
  .cards {
    margin-top: 0rem;
  }

  .cards {
    margin-top: 0rem;
  }
}

@media (any-hover: hover) and (min-width: 55.4375em) {
  .getintouch__item:hover {
    padding: 5rem 2.5rem;
  }
}

@media (min-width: 61.99875rem) {
  .header {
    -webkit-transform: translate(0, -99%);
        -ms-transform: translate(0, -99%);
            transform: translate(0, -99%);
    -webkit-transition: 0.6s ease 1.4s;
    -o-transition: 0.6s ease 1.4s;
    transition: 0.6s ease 1.4s;
  }

  .header._anim {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@media (min-width: 61.62375em) {
  .subscribe::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4.8125rem;
    background-color: #252b42;
  }

  .subscribe__container {
    -webkit-transform: translate(0, 50%);
        -ms-transform: translate(0, 50%);
            transform: translate(0, 50%);
  }

  .subscribe__container._anim {
    -webkit-transform: translate(0, -1.25rem);
        -ms-transform: translate(0, -1.25rem);
            transform: translate(0, -1.25rem);
  }
}

@media (max-width: 55em) {
  .main__bg img {
    -o-object-position: right;
       object-position: right;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 2.25rem;
  }

  .title_s40 {
    font-size: 1.75rem;
  }

  .header__container {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .header__container {
    min-height: 4.375rem;
  }

  .main__container {
    padding-top: 6.25rem;
  }

  .main__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .main__text {
    font-size: 1.125rem;
  }

  .main__text:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .main__button-orange {
    padding-top: 0.4375rem;
  }

  .main__button-orange {
    padding-bottom: 0.4375rem;
  }

  .main__button-orange {
    padding-left: 1.25rem;
  }

  .main__button-orange {
    padding-right: 1.25rem;
  }

  .main__button-orange {
    min-height: 2.625rem;
  }

  .main__button-border {
    padding-top: 0.375rem;
  }

  .main__button-border {
    padding-bottom: 0.375rem;
  }

  .main__button-border {
    padding-left: 1.125rem;
  }

  .main__button-border {
    padding-right: 1.125rem;
  }

  .main__button-border {
    min-height: 2.625rem;
  }

  .achivments {
    padding-top: 3.125rem;
  }

  .achivments__text {
    margin-bottom: 1.875rem;
  }

  .practice {
    padding-top: 3.125rem;
  }

  .practice {
    padding-bottom: 1.25rem;
  }

  .practice__text {
    margin-bottom: 1.875rem;
  }

  .we {
    padding-top: 1.875rem;
  }

  .we {
    padding-bottom: 1.875rem;
  }

  .we__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .vid-we__play {
    padding-top: 1.125rem;
  }

  .vid-we__play {
    padding-bottom: 1.125rem;
  }

  .vid-we__play {
    padding-left: 1.25rem;
  }

  .vid-we__play {
    padding-right: 1.25rem;
  }

  .partners {
    padding-top: 1.875rem;
  }

  .partners__item {
    max-width: 7.5rem;
  }

  .subscribe {
    padding-top: 3.125rem;
  }

  .subscribe__container {
    padding-right: 0.9375rem;
  }

  .subscribe__container {
    padding-left: 0.9375rem;
  }

  .subscribe__title {
    font-size: 1.125rem;
  }

  .form-subscribe__email {
    padding-top: 0.625rem;
  }

  .form-subscribe__email {
    padding-bottom: 0.625rem;
  }

  .form-subscribe__email {
    min-height: 3rem;
  }

  .form-subscribe__submit {
    padding-top: 0.625rem;
  }

  .form-subscribe__submit {
    padding-bottom: 0.625rem;
  }

  .form-subscribe__submit {
    min-height: 3rem;
  }

  .getintouch {
    padding-top: 3.125rem;
  }

  .getintouch__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .getintouch__item {
    padding-top: 1.875rem;
  }

  .getintouch__item {
    padding-bottom: 1.875rem;
  }

  .getintouch__item {
    padding-right: 0.9375rem;
  }

  .getintouch__item {
    padding-left: 0.9375rem;
  }

  .contacts-us {
    margin-top: 3.125rem;
  }

  .contacts-us {
    padding-top: 1.25rem;
  }

  .contacts-us {
    padding-bottom: 1.25rem;
  }

  .contacts-us__title {
    font-size: 1.125rem;
  }

  .contacts-us__button {
    padding-top: 0.625rem;
  }

  .contacts-us__button {
    padding-bottom: 0.625rem;
  }

  .contacts-us__button {
    padding-right: 1.25rem;
  }

  .contacts-us__button {
    padding-left: 1.25rem;
  }
}

@media (max-width: 66.875em) {
  .title {
    font-size: calc(2.25rem + 22 * (100vw - 20rem) / 750);
  }

  .title_s40 {
    font-size: calc(1.75rem + 12 * (100vw - 20rem) / 750);
  }

  .header__container {
    -webkit-column-gap: calc(1.875rem + 102 * (100vw - 20rem) / 750);
       -moz-column-gap: calc(1.875rem + 102 * (100vw - 20rem) / 750);
            column-gap: calc(1.875rem + 102 * (100vw - 20rem) / 750);
  }

  .header__container {
    min-height: calc(4.375rem + 24 * (100vw - 20rem) / 750);
  }

  .main__container {
    padding-top: calc(6.25rem + 84 * (100vw - 20rem) / 750);
  }

  .main__title:not(:last-child) {
    margin-bottom: calc(0.9375rem + 20 * (100vw - 20rem) / 750);
  }

  .main__text {
    font-size: calc(1.125rem + 2 * (100vw - 20rem) / 750);
  }

  .main__text:not(:last-child) {
    margin-bottom: calc(0.9375rem + 20 * (100vw - 20rem) / 750);
  }

  .main__button-orange {
    padding-top: calc(0.4375rem + 3 * (100vw - 20rem) / 750);
  }

  .main__button-orange {
    padding-bottom: calc(0.4375rem + 3 * (100vw - 20rem) / 750);
  }

  .main__button-orange {
    padding-left: calc(1.25rem + 16 * (100vw - 20rem) / 750);
  }

  .main__button-orange {
    padding-right: calc(1.25rem + 16 * (100vw - 20rem) / 750);
  }

  .main__button-orange {
    min-height: calc(2.625rem + 6 * (100vw - 20rem) / 750);
  }

  .main__button-border {
    padding-top: calc(0.375rem + 2 * (100vw - 20rem) / 750);
  }

  .main__button-border {
    padding-bottom: calc(0.375rem + 2 * (100vw - 20rem) / 750);
  }

  .main__button-border {
    padding-left: calc(1.125rem + 16 * (100vw - 20rem) / 750);
  }

  .main__button-border {
    padding-right: calc(1.125rem + 16 * (100vw - 20rem) / 750);
  }

  .main__button-border {
    min-height: calc(2.625rem + 6 * (100vw - 20rem) / 750);
  }

  .achivments {
    padding-top: calc(3.125rem + 30 * (100vw - 20rem) / 750);
  }

  .achivments__text {
    margin-bottom: calc(1.875rem + 20 * (100vw - 20rem) / 750);
  }

  .practice {
    padding-top: calc(3.125rem + 150 * (100vw - 20rem) / 750);
  }

  .practice {
    padding-bottom: calc(1.25rem + 60 * (100vw - 20rem) / 750);
  }

  .practice__text {
    margin-bottom: calc(1.875rem + 20 * (100vw - 20rem) / 750);
  }

  .we {
    padding-top: calc(1.875rem + 70 * (100vw - 20rem) / 750);
  }

  .we {
    padding-bottom: calc(1.875rem + 110 * (100vw - 20rem) / 750);
  }

  .we__text:not(:last-child) {
    margin-bottom: calc(1.25rem + 30 * (100vw - 20rem) / 750);
  }

  .we__body {
    -webkit-column-gap: calc(3.75rem + 60 * (100vw - 48.75rem) / 290);
       -moz-column-gap: calc(3.75rem + 60 * (100vw - 48.75rem) / 290);
            column-gap: calc(3.75rem + 60 * (100vw - 48.75rem) / 290);
  }

  .vid-we__play {
    padding-top: calc(1.125rem + 17 * (100vw - 20rem) / 750);
  }

  .vid-we__play {
    padding-bottom: calc(1.125rem + 17 * (100vw - 20rem) / 750);
  }

  .vid-we__play {
    padding-left: calc(1.25rem + 17 * (100vw - 20rem) / 750);
  }

  .vid-we__play {
    padding-right: calc(1.25rem + 17 * (100vw - 20rem) / 750);
  }

  .partners {
    padding-top: calc(1.875rem + 20 * (100vw - 20rem) / 750);
  }

  .partners__item {
    max-width: calc(7.5rem + 30 * (100vw - 20rem) / 750);
  }

  .subscribe {
    padding-top: calc(3.125rem + 40 * (100vw - 20rem) / 750);
  }

  .subscribe__container {
    padding-right: calc(0.9375rem + 15 * (100vw - 20rem) / 750);
  }

  .subscribe__container {
    padding-left: calc(0.9375rem + 15 * (100vw - 20rem) / 750);
  }

  .subscribe__title {
    font-size: calc(1.125rem + 6 * (100vw - 20rem) / 750);
  }

  .form-subscribe__email {
    padding-top: calc(0.625rem + 5 * (100vw - 20rem) / 750);
  }

  .form-subscribe__email {
    padding-bottom: calc(0.625rem + 5 * (100vw - 20rem) / 750);
  }

  .form-subscribe__email {
    min-height: calc(3rem + 10 * (100vw - 20rem) / 750);
  }

  .form-subscribe__submit {
    padding-top: calc(0.625rem + 4 * (100vw - 20rem) / 750);
  }

  .form-subscribe__submit {
    padding-bottom: calc(0.625rem + 4 * (100vw - 20rem) / 750);
  }

  .form-subscribe__submit {
    min-height: calc(3rem + 10 * (100vw - 20rem) / 750);
  }

  .getintouch {
    padding-top: calc(3.125rem + 30 * (100vw - 20rem) / 750);
  }

  .getintouch__text:not(:last-child) {
    margin-bottom: calc(1.875rem + 50 * (100vw - 20rem) / 750);
  }

  .getintouch__item {
    padding-top: calc(1.875rem + 20 * (100vw - 20rem) / 750);
  }

  .getintouch__item {
    padding-bottom: calc(1.875rem + 20 * (100vw - 20rem) / 750);
  }

  .getintouch__item {
    padding-right: calc(0.9375rem + 25 * (100vw - 20rem) / 750);
  }

  .getintouch__item {
    padding-left: calc(0.9375rem + 25 * (100vw - 20rem) / 750);
  }

  .contacts-us {
    margin-top: calc(3.125rem + 100 * (100vw - 20rem) / 750);
  }

  .contacts-us {
    padding-top: calc(1.25rem + 20 * (100vw - 20rem) / 750);
  }

  .contacts-us {
    padding-bottom: calc(1.25rem + 20 * (100vw - 20rem) / 750);
  }

  .contacts-us__title {
    font-size: calc(1.125rem + 6 * (100vw - 20rem) / 750);
  }

  .contacts-us__button {
    padding-top: calc(0.625rem + 5 * (100vw - 20rem) / 750);
  }

  .contacts-us__button {
    padding-bottom: calc(0.625rem + 5 * (100vw - 20rem) / 750);
  }

  .contacts-us__button {
    padding-right: calc(1.25rem + 20 * (100vw - 20rem) / 750);
  }

  .contacts-us__button {
    padding-left: calc(1.25rem + 20 * (100vw - 20rem) / 750);
  }

  .footer__container {
    -ms-grid-columns: 25% 25% 25% 25%;
    grid-template-columns: 25% 25% 25% 25%;
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .footer__column:last-child {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 2/1/3/5;
  }
}

@media (max-width: 54.375em) {
  .getintouch__items {
    opacity: 0;
    -webkit-transition: 0.5s ease 0.6s;
    -o-transition: 0.5s ease 0.6s;
    transition: 0.5s ease 0.6s;
    -webkit-transform: translate(0, 50%);
        -ms-transform: translate(0, 50%);
            transform: translate(0, 50%);
  }

  .getintouch__items._anim {
    opacity: 1;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@media (max-width: 48.75em) {
  .we__body {
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }

  .we__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .we__vid {
    width: 100%;
  }

  .we__content {
    max-width: none;
  }
}

@media (max-width: 45.625em) {
  .main__bg img {
    opacity: 0.4;
  }
}

@media (max-width: 42.5em) {
  .footer__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer__column:last-child {
    grid-area: auto;
  }
}

@media (max-width: 40.625em) {
  .subscribe__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 38.75em) {
  .main {
    min-height: 35rem;
  }

  .main__bg {
    min-height: 30rem;
  }
}

@media (max-width: 36.875em) {
  .getintouch__items {
    opacity: 0;
    -webkit-transition: 0.5s ease 0.6s;
    -o-transition: 0.5s ease 0.6s;
    transition: 0.5s ease 0.6s;
    -webkit-transform: translate(-10%, 0);
        -ms-transform: translate(-10%, 0);
            transform: translate(-10%, 0);
  }

  .getintouch__items._anim {
    opacity: 1;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
  }

  .main__button-orange:hover {
    background-color: #d76639;
  }

  .main__button-border:hover {
    color: #ffffff;
    background-color: #0d5c63;
  }

  .cards__card:hover {
    background-color: #0d5c63;
  }

  .cards__card:hover .card-cards__title,
  .cards__card:hover .card-cards__text {
    color: #fff;
  }

  .cards__card:hover .card-cards__icon svg path {
    fill: #fff;
  }

  .card-practice__title:hover {
    color: #0d5c63;
  }

  .card-practice__image img:hover {
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04);
  }

  .we__vid:hover .vid-we__play {
    -webkit-transform: translate(-50%, -50%) scale(1.05);
        -ms-transform: translate(-50%, -50%) scale(1.05);
            transform: translate(-50%, -50%) scale(1.05);
  }

  .form-subscribe__submit:hover {
    background-color: #d76639;
  }

  .getintouch__item:hover {
    background-color: #252b42;
  }

  .getintouch__item:hover .item-getintouch__icon svg path {
    fill: #fff;
  }

  .getintouch__item:hover .item-getintouch__info,
  .getintouch__item:hover .item-getintouch__title,
  .getintouch__item:hover .item-getintouch__button {
    color: #fff;
  }

  .getintouch__item:hover .item-getintouch__button {
    border: 0.0625rem solid #fff;
  }

  .contacts-us__button:hover {
    background-color: #d76639;
  }

  .menu-footer__link:hover {
    text-decoration: underline;
  }
}

@media (max-height: 45em) {
  .cards__container {
    opacity: 0;
    -webkit-transition: 0.5s ease 1s;
    -o-transition: 0.5s ease 1s;
    transition: 0.5s ease 1s;
    -webkit-transform: translate(-10%, 0);
        -ms-transform: translate(-10%, 0);
            transform: translate(-10%, 0);
  }

  .cards__container._anim {
    opacity: 1;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@media (any-hover: hover) and (any-hover: hover) {
  .getintouch__item:hover .item-getintouch__button:hover {
    color: #252b42;
    background-color: #fff;
  }
}